@media (max-width: 1200px) {
	#header .container .headerReklam {
		display: none;
	}
}
@media (max-width: 1000px) {
	#header .container {
		display: none;
	}
	#categories .container{
		padding-bottom: 10px !important;
	}
	#categories .container .logo {
		margin-top: 15px !important;
		margin-left: 5px !important;
		width: 122px !important;
		height: 27px !important;
	    background-image: url(../images/sprite.svg);
	    background-repeat: no-repeat;
	    background-position: 0px -38px !important;
	}
	.catNav, .otherNav {
		display: none;
	}
	.lang-select {
		display: block !important;
	}
}
height = $("#search > .container").height();
		$("#search").hide();
      $("#searchBtn").toggle(function(){
        var index = $("#alanim span").index(this);
        $("#alanim div:eq("+index+")").slideDown("slow");
        $(this).css("background-color","#800");}, 
      function(){
        var index = $("#alanim span").index(this);
        $("#alanim div:eq("+index+")").slideUp("slow");
        $(this).css("background-color","#369");
      });