/*
	CodeAcademy Project
	Clone boss.az
	Group: Parviz Aliyev, Huseyn Huseynli, Imran Abdullayev, Tural Ismayilov, Ceyhun Sadiqov
*/
a {
  text-decoration: underline; }

ul {
  list-style-type: none; }

.clearFix {
  clear: both; }

.lang-selected {
  display: none; }

.active {
  background: #F9D54B; }

a.active:hover {
  background: #F9D54B !important; }

div.show {
  display: block !important; }

#header .container {
  background: #555 !important;
  padding-bottom: 5px; }
  #header .container .headerReklam {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px; }
    #header .container .headerReklam .headerReklami {
      float: left;
      margin-left: 5px; }
    #header .container .headerReklam .headerReklami:last-child {
      margin-right: 0; }
  #header .container .headerMenu {
    padding: 0 10px; }
    #header .container .headerMenu a {
      float: left;
      color: #fff;
      display: block;
      padding: 10px; }
    #header .container .headerMenu a:hover {
      background-color: #757575; }
    #header .container .headerMenu ul li {
      float: left;
      cursor: pointer; }

#categories .container {
  background: #F8CB1C !important;
  padding-bottom: 20px; }
  #categories .container .logo {
    margin-top: 25px;
    margin-right: 35px;
    margin-left: 10px;
    width: 175px;
    height: 38px;
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: left; }
  #categories .container .catNav {
    float: left; }
    #categories .container .catNav .vacancies, #categories .container .catNav .resumes {
      float: left;
      vertical-align: middle;
      line-height: 28px;
      margin-top: 15px; }
      #categories .container .catNav .vacancies a, #categories .container .catNav .resumes a {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
        color: #000;
        margin-left: 10px;
        padding: 20px;
        border-radius: 4px 4px 0 0; }
      #categories .container .catNav .vacancies a:hover, #categories .container .catNav .resumes a:hover {
        background: #ffdf80; }
    #categories .container .catNav .pageVacancies, #categories .container .catNav .pageResumes {
      float: left;
      vertical-align: middle;
      line-height: 28px;
      margin-top: 25px; }
      #categories .container .catNav .pageVacancies a, #categories .container .catNav .pageResumes a {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
        color: #000;
        margin-left: 10px;
        padding: 10px;
        border-radius: 5px; }
      #categories .container .catNav .pageVacancies a:hover, #categories .container .catNav .pageResumes a:hover {
        background: #ffdf80; }
  #categories .container .otherNav {
    float: right;
    margin-right: 10px; }
    #categories .container .otherNav .about {
      float: left;
      vertical-align: middle;
      line-height: 28px;
      margin-top: 15px;
      margin-right: 20px; }
      #categories .container .otherNav .about a {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
        color: #000;
        padding: 20px;
        border-radius: 4px 4px 0 0; }
      #categories .container .otherNav .about a:hover {
        background: #ffdf80; }
    #categories .container .otherNav .pageAbout {
      float: left;
      vertical-align: middle;
      line-height: 28px;
      margin-top: 25px;
      margin-right: 20px; }
      #categories .container .otherNav .pageAbout a {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
        color: #000;
        padding: 10px;
        border-radius: 4px; }
      #categories .container .otherNav .pageAbout a:hover {
        background: #ffdf80; }
    #categories .container .otherNav .add {
      float: left;
      vertical-align: middle;
      line-height: 28px;
      margin-top: 25px; }
      #categories .container .otherNav .add button {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
        color: #000;
        background: #fff;
        border: 0;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        outline: none; }
  #categories .container .lang-select {
    margin-top: 10px;
    float: right;
    display: none; }
    #categories .container .lang-select ul li {
      float: left;
      border: 2px solid #000;
      margin: 2px;
      border-radius: 5px; }
      #categories .container .lang-select ul li a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #000;
        font-weight: 700;
        cursor: pointer; }

#viewVacancies .container, #viewCv .container {
  background: #F9D54B;
  display: none; }
  #viewVacancies .container .row, #viewCv .container .row {
    padding: 15px 25px; }
    #viewVacancies .container .row .col-md-4 .row, #viewCv .container .row .col-md-4 .row {
      padding: 5px 15px; }
      #viewVacancies .container .row .col-md-4 .row .vacCount, #viewCv .container .row .col-md-4 .row .vacCount {
        color: #787053;
        font-size: 16px;
        font-weight: 300;
        text-align: right;
        width: 10%;
        float: left; }
      #viewVacancies .container .row .col-md-4 .row .vacName, #viewCv .container .row .col-md-4 .row .vacName {
        width: 90%;
        float: right; }
      #viewVacancies .container .row .col-md-4 .row a, #viewCv .container .row .col-md-4 .row a {
        color: #555;
        font-size: 16px;
        padding: 5px 10px;
        font-weight: 700; }
      #viewVacancies .container .row .col-md-4 .row a:hover, #viewCv .container .row .col-md-4 .row a:hover {
        background: #ffdf80;
        border-radius: 5px; }

#searchBtn .container {
  padding: 5px;
  background: #F8CB1C;
  cursor: pointer;
  text-align: center; }
  #searchBtn .container #icon, #searchBtn .container span.searchBtn, #searchBtn .container i {
    display: inline-block;
    vertical-align: middle; }
  #searchBtn .container #icon {
    width: 20px;
    height: 15px;
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    background-position: -42px -65px; }
  #searchBtn .container span.searchBtn {
    color: #555;
    border-bottom: 1px dashed #787053; }
  #searchBtn .container i {
    padding: 5px 0px;
    color: #555;
    transition: 3.0s; }
#searchBtn .container:hover {
  background: #F9D54B; }

#search .container {
  background: #F8CB1C; }
  #search .container .col-md-4 {
    text-align: left; }
    #search .container .col-md-4 span {
      padding: 20px 10px 5px 10px;
      display: block;
      font-weight: 700; }
    #search .container .col-md-4 .select {
      width: 300px;
      border: 1px solid #555;
      border-radius: 5px;
      padding: 10px;
      outline: none;
      margin-left: 10px; }
    #search .container .col-md-4 select {
      display: block; }
  #search .container .btnSearch {
    text-align: center;
    padding: 20px; }
    #search .container .btnSearch input {
      background: #fff;
      padding: 5px 25px;
      font-weight: 700;
      border-radius: 5px;
      box-shadow: 0 1px 1px 0px #555; }

#lastVac .container {
  padding-bottom: 10px;
  background: #f4f4f4; }
  #lastVac .container .headListLastVac {
    margin: 20px;
    margin-top: 40px;
    height: 30px; }
    #lastVac .container .headListLastVac .leftHead {
      float: left;
      display: flex;
      align-items: center; }
      #lastVac .container .headListLastVac .leftHead h1 {
        display: inline-block;
        font-size: 26px;
        font-weight: 700;
        margin: 0; }
      #lastVac .container .headListLastVac .leftHead a {
        display: inline-block;
        color: #979797;
        font-size: 19px;
        padding: 0 15px;
        font-weight: 700; }
      #lastVac .container .headListLastVac .leftHead a:hover {
        color: #F9D54B; }
    #lastVac .container .headListLastVac .rightHead span {
      color: #979797;
      font-size: 19px;
      font-weight: 700; }
      #lastVac .container .headListLastVac .rightHead span a {
        color: #979797;
        font-size: 19px;
        font-weight: 700; }
      #lastVac .container .headListLastVac .rightHead span a:hover {
        color: #F9D54B; }
  #lastVac .container .listLastVac {
    border-radius: 5px;
    background: #fff;
    margin: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
    #lastVac .container .listLastVac .row {
      padding: 0 15px; }
      #lastVac .container .listLastVac .row .col-md-4 {
        padding: 10px 30px 15px;
        border: 1px solid #e8e8e8;
        border-top-width: 0;
        border-left-width: 0; }
        #lastVac .container .listLastVac .row .col-md-4 .nameVac {
          font-size: 16px;
          color: #000;
          font-weight: 700;
          text-decoration: underline;
          display: block; }
        #lastVac .container .listLastVac .row .col-md-4 .nameVac:hover, #lastVac .container .listLastVac .row .col-md-4 .companyName:hover {
          color: #F9D54B; }
        #lastVac .container .listLastVac .row .col-md-4 .companyName {
          font-size: 12px;
          color: #979797;
          display: block; }
        #lastVac .container .listLastVac .row .col-md-4 .priceVac {
          display: inline-block;
          background: #F8CB1C;
          margin: 5px 0;
          border-radius: 5px;
          padding: 5px 12px; }
          #lastVac .container .listLastVac .row .col-md-4 .priceVac span {
            color: #333;
            font-weight: 700; }
      #lastVac .container .listLastVac .row .col-md-4:nth-child(3), #lastVac .container .listLastVac .row .col-md-4:nth-child(6), #lastVac .container .listLastVac .row .col-md-4:nth-child(9) {
        border-right-width: 0; }
  #lastVac .container .widgets {
    padding: 10px 20px;
    float: left; }
  #lastVac .container .quote {
    float: left;
    position: relative;
    margin: 30px 0;
    margin-left: 10px; }
    #lastVac .container .quote .quote-text {
      font-size: 30px;
      font-weight: 700;
      width: 420px;
      padding: 10px 0 0 55px; }
    #lastVac .container .quote .quote-by {
      font-size: 16px;
      font-style: italic;
      padding: 10px 0 0 55px; }
  #lastVac .container .quote:before {
    content: "";
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    background-position: 0px 100%;
    width: 47px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    position: absolute; }
  #lastVac .container .tabCategoriesCompanies {
    padding: 20px; }
    #lastVac .container .tabCategoriesCompanies ul.nav li {
      background-color: #f4f4f4; }
      #lastVac .container .tabCategoriesCompanies ul.nav li a {
        font-size: 26px;
        font-weight: 700;
        color: #000;
        text-decoration: underline;
        text-transform: uppercase; }
    #lastVac .container .tabCategoriesCompanies ul.nav li.active a {
      text-decoration: none; }
    #lastVac .container .tabCategoriesCompanies ul.nav li:last-child {
      margin-left: 10px; }
    #lastVac .container .tabCategoriesCompanies .active {
      background: #fff; }
    #lastVac .container .tabCategoriesCompanies .tab-pane .cat .col-md-4 {
      min-height: 250px; }
    #lastVac .container .tabCategoriesCompanies .tab-pane .row .col-md-4 {
      padding: 10px 0px 0px 40px; }
      #lastVac .container .tabCategoriesCompanies .tab-pane .row .col-md-4 a {
        text-decoration: none;
        font-size: 15px;
        color: #555; }
      #lastVac .container .tabCategoriesCompanies .tab-pane .row .col-md-4 a:hover {
        color: #E65100 !important; }
      #lastVac .container .tabCategoriesCompanies .tab-pane .row .col-md-4 ul.catList {
        margin: 0; }
        #lastVac .container .tabCategoriesCompanies .tab-pane .row .col-md-4 ul.catList li.catListItem {
          margin: 0;
          padding: 3px; }
          #lastVac .container .tabCategoriesCompanies .tab-pane .row .col-md-4 ul.catList li.catListItem a:hover {
            color: #E65100 !important; }
        #lastVac .container .tabCategoriesCompanies .tab-pane .row .col-md-4 ul.catList li.catListItem:first-child a {
          color: #eab120;
          font-size: 16px;
          font-weight: 700; }

#footer .container {
  padding-bottom: 30px;
  background: #555;
  border-top: 3px solid #F8CB1C; }
  #footer .container .row {
    padding: 20px; }
    #footer .container .row .col-md-4 .footNav .footNavbar .footNavbarItem {
      display: block;
      padding: 5px 0px; }
      #footer .container .row .col-md-4 .footNav .footNavbar .footNavbarItem a {
        font-size: 16px;
        color: #eab121;
        text-decoration: none; }
      #footer .container .row .col-md-4 .footNav .footNavbar .footNavbarItem a:hover {
        text-decoration: underline; }
    #footer .container .row .col-md-4 .footNav .footNavbar li.mobile a {
      color: #ccc; }
    #footer .container .row .col-md-4 .footInfo .info li {
      padding: 5px 0; }
      #footer .container .row .col-md-4 .footInfo .info li span {
        color: #ccc;
        padding-left: 10px;
        font-size: 16px; }
      #footer .container .row .col-md-4 .footInfo .info li a {
        color: #ccc;
        text-decoration: none;
        padding-left: 10px;
        font-size: 16px; }
      #footer .container .row .col-md-4 .footInfo .info li a:hover {
        text-decoration: underline; }
    #footer .container .row .col-md-4 .footInfo .info .footCopy:before {
      content: "";
      width: 13px;
      height: 13px;
      display: inline-block;
      background-image: url(../images/sprite.svg);
      background-repeat: no-repeat;
      background-position: 96.8944099378882% 52.17391304347826%;
      vertical-align: middle; }
    #footer .container .row .col-md-4 .footInfo .info .footPhone:before {
      content: "";
      width: 14px;
      height: 16px;
      display: inline-block;
      background-image: url(../images/sprite.svg);
      background-repeat: no-repeat;
      background-position: 88.75% 53.93258426966292%;
      vertical-align: middle; }
    #footer .container .row .col-md-4 .footInfo .info .footEmail:before {
      content: "";
      width: 14px;
      height: 10px;
      display: inline-block;
      background-image: url(../images/sprite.svg);
      background-repeat: no-repeat;
      background-position: 86.25% 40%;
      vertical-align: middle; }
    #footer .container .row .col-md-4 .copyright {
      padding-top: 15px; }
      #footer .container .row .col-md-4 .copyright span {
        color: #ccc;
        font-size: 13px; }
    #footer .container .row .col-md-4 a.title {
      color: #eab121;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      display: block;
      padding-bottom: 5px; }
    #footer .container .row .col-md-4 a.title:hover {
      text-decoration: underline; }
    #footer .container .row .col-md-4 .footCatList .cat {
      display: block;
      padding: 5px 0; }
      #footer .container .row .col-md-4 .footCatList .cat a {
        font-size: 16px;
        color: #ccc;
        text-decoration: none; }
      #footer .container .row .col-md-4 .footCatList .cat a:hover {
        text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
