#allVac {
	.container{
		background: #f4f4f4;
		.row{
			padding:  5px 10px;
			padding-bottom: 20px;
			.allVacHeader{
				h3{
					color: secondTextColor;
					font-weight: 700;
					font-size: 20px;
					padding-left: 15px;
				}
				span{
					color: $contentLinkTextColor;
					font-weight: 700;
					font-size: 26px;
					font-family: sans-serif;
				}

			}
		}

	.row{
		.col-md-6{
			.card-lar{
				.card-block{
					padding: 0 20px;
					padding-bottom: 20px;
					background-color: $textColor;
					h3{
						font-size: 20px;
						font-weight: 700;
						color:$footerLinkColor;
					}

					a{
						font-size: 15px;
						font-weight: 700;
						color: #666;
						text-decoration: none;
					}

					a:hover{
						color: #a98705;
					}

					.imqiymet{
						height: 50px;
						margin-top: 10px;

						.qiymet{
							width: 110px;
							height: 37px;
							background: #f8cb1c;
							border-radius: 6px;
							line-height: 37px;
							margin-top: -0.5px;
							color: #333;
							border: 1px solid #f8cb1c;
							text-align: center;
							float: left;
							position: relative;
							z-index: 1;
						}

						.qiymetLink{
							box-sizing: border-box;
							width: 90px;
							height: 36px;
							float: left;
							text-align: center;
							margin-left: -14px;
							border-radius: 6px;
							border: 1px solid #d8d8d8;
							border-left: none;
							position: relative;
							z-index: 0;
							line-height: 36px;
							display: flex;
							justify-content: center;
							align-items: center;

							a{
								text-decoration: underline;
								color: #555;
								font-size: 16px;
								margin-left: 14px;
								padding: 0 5px;
								font-weight: 400;
							}

							i{
								font-size: 26px;
								padding-right: 5px;
							}

						}

						.qiymetLink:hover{
							background: #f9f3d9;
						}
					}

					p{
						height: 200px;
						font-size: 15px;
					}

					.cardFooter{
						color: $contentLinkTextColor;

						span{
							font-weight: normal;
							color: $contentLinkTextColor;
							font-size: 14px;

						}
						i{
							color: #f8cb1c;
							font-size: 8px;
							margin: 0 8px;

						}

						a{
							
							color: $contentLinkTextColor;
							font-weight: normal;
							font-size: 14px;
							text-decoration: underline;
						}
						a:hover{
							color: #a98705;
						}
					}

				}

				.card-block:hover{
					box-shadow: 0 2px 30px rgba(0,0,0,0.2);
					cursor: pointer;
					transition: all 0.2s;
				}
			}
		}
		nav {
			padding: 0 15px;
			clear: both;
			display: flex;
			justify-content: center;
			ul{
				font-size: 15px;
				font-weight: 700;
				li.active{
					a{
					background: $navbarColor !important;
					} 
				}
				li{

					a{
						padding: 10px 16px;
						color: $mainTextColor;

					}
					a:hover{
						background: #f9f3d9;
					}
				}
				
			}
		}
	}
  }
}