$bgcolor: #555; // Header Reklamların arxa fonu
$navbarColor: #F8CB1C; // Logo ve Navbarın arxa fonu
$navbarLinkHover: #ffdf80; // Navbar Link Hover
$categoriesBgColor: #F9D54B; // İş elanları kategoriyaların arxa fonu
$countTextColor: #787053; // İş elanlarının sayı yazılarının rengi
$mainTextColor: #000; // Esas textlerin rengi
$textColor: #fff; // Esas textlerin rengi
$footerTextColor: #ccc; // Footerdeki textlerin rengi
$footerLinkColor: #eab121; // Footerdeki Linklerin rengi
$tabCatLinkColor: #E65100; // 2ci tabdaki linklerin rengi
$contentBgColor: #f4f4f4; // Content Containerin arxa fonu
$contentLinkTextColor: #979797; // content linkleri ve textlerin rengi
$secondTextColor:#333;