/*
	CodeAcademy Project
	Clone boss.az
	Group: Parviz Aliyev, Huseyn Huseynli, Imran Abdullayev, Tural Ismayilov, Ceyhun Sadiqov
*/
/*  ================             BOOTSTRAP              ===============*/
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/*  ================             BOOTSTRAP              ===============*/

// Color Variables
$bgcolor: #555; // Header Reklamlarınc arxa fonu
$navbarColor: #F8CB1C; // Logo ve Navbarın arxa fonu
$navbarLinkHover: #ffdf80; // Navbar Link Hover
$categoriesBgColor: #F9D54B; // İş elanları kategoriyaların arxa fonu
$countTextColor: #787053; // İş elanlarının sayı yazılarının rengi
$mainTextColor: #000; // Esas textlerin rengi
$textColor: #fff; // Esas textlerin rengi
$footerTextColor: #ccc; // Footerdeki textlerin rengi
$footerLinkColor: #eab121; // Footerdeki Linklerin rengi
$tabCatLinkColor: #E65100; // 2ci tabdaki linklerin rengi
$contentBgColor: #f4f4f4; // Content Containerin arxa fonu
$contentLinkTextColor: #979797; // content linkleri ve textlerin rengi
$secondTextColor:#333;
// Font
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic,latin-ext,cyrillic-ext);
html, body {
	font-family: 'Noto Sans';
}
// Əlavələar
.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}
@media (min-width: 1200px) {
  .container {
    width: 1010px;
  }
}
a {
	text-decoration: underline;
}
ul{
	list-style-type: none;
}
.clearFix {
	clear: both;
}
.lang-selected {
	display: none;
}
.active{
	background: $categoriesBgColor;
}
a.active:hover{
	background: $categoriesBgColor !important;
}
div.show{
	display: block !important;
}
.pBottom {
	padding-bottom: 20px !important;
}
.box-sh {
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.all {
	background: $categoriesBgColor !important;
}
// Header

#header .container {
	background: $bgcolor !important;
	padding-bottom: 5px;
	// Reklam Hissəsi
	.headerReklam {
		padding-top: 15px;
		padding-left: 5px;
		padding-right: 5px;

		.headerReklami {
			float: left;
			margin-left: 5px;
		}
		.headerReklami:last-child {
			margin-right: 0;
		}
	}
	// Menu hisse  dil seçimi (sehife full olanda)
	.headerMenu{
		padding: 0 10px;
		a{
			float: left;
			color: $textColor;
			display: block;
			padding: 10px;
		}
		a:hover {
			background-color: #757575;
		}
		ul{
			li{
				float: left;
				cursor: pointer;
			}
		}
	}
}
// Is Axtaran Vacansiya Hakkinda Elan yerlesdir
#categories .container {
	background: $navbarColor !important;
	padding-bottom: 0;
	// Logo
	.logo {
		margin-top: 25px;
		margin-right: 35px;
		margin-left: 10px;
		width: 175px;
		height: 38px;
		background-image: url(../images/sprite.svg);
		background-repeat: no-repeat;
		background-position: 0px 0px;
		float:left;
	}
	// İş axtaran və Vakansiyalar
	.catNav{
		float: left;
		.vacancies, .resumes {
			float: left;
			vertical-align: middle;
			line-height: 28px;
			margin-top: 15px;
			a {
				display: block;
				font-weight: 700;
				font-size: 1.2em;
				color: $mainTextColor;
				margin-left: 10px;
				padding: 20px;
				border-radius: 4px 4px 0 0;
			}
			a:hover{
				background: $navbarLinkHover;
			}
		}
		// Diger sehifeler üçün

		.pageVacancies, .pageResumes {
			float: left;
			vertical-align: middle;
			line-height: 28px;
			margin-top: 25px;
			a {
				display: block;
				font-weight: 700;
				font-size: 1.2em;
				color: $mainTextColor;
				margin-left: 10px;
				padding: 10px;
				border-radius: 5px;
			}
			a:hover{
				background: $navbarLinkHover;
			}
		}
	}
	// Hakkinda Ve Elan Yerlesdir
	.otherNav{
		float: right;
		margin-right: 10px;
		// Haqqında
		.about{
			float:left;
			vertical-align: middle;
			line-height: 28px;
			margin-top: 15px;
			margin-right: 20px;
			a {
				display: block;
				font-weight: 700;
				font-size: 1.2em;
				color: $mainTextColor;
				padding: 20px;
				border-radius: 4px 4px 0 0;
			}
			a:hover{
				background: $navbarLinkHover;
			}
		}
		// Diger sehifeler üçün

		.pageAbout{
			float:left;
			vertical-align: middle;
			line-height: 28px;
			margin-top: 25px;
			margin-right: 20px;
			a {
				display: block;
				font-weight: 700;
				font-size: 1.2em;
				color: $mainTextColor;
				padding: 10px;
				border-radius: 4px;
			}
			a:hover{
				background: $navbarLinkHover;
			}
		}
		// Elan yerleşdir
		.add{
			float: left;
			vertical-align: middle;
			line-height: 28px;
			margin-top: 25px;
			button {
				display: block;
				font-weight: 700;
				font-size: 1.2em;
				color: $mainTextColor;
				background: $textColor;
				border: 0;
				padding: 10px;
				border-radius: 5px;
				cursor:pointer;
				outline: none;

				a{
					color: $mainTextColor;
					text-decoration: none;
				}
			}
		}
	}

	// Dil seçimi Tablet ve Telefonlar üçün
	.lang-select{
		margin-top: 10px;
		float: right;
		display: none;
		ul{
			li{
				float:left;
				border: 2px solid $mainTextColor;
				margin: 2px;
				border-radius: 5px;
				a{
					display: block;
					padding: 5px;
					text-decoration: none;
					color: $mainTextColor;
					font-weight: 700;
					cursor: pointer;
				}
			}
		}
	}
}
// Vakansiyalara Baxmaq ve CV-lərə baxmaq
#viewVacancies .container{
	background: $categoriesBgColor;
	.row {
		padding: 15px 25px;
		.col-md-4{
			.row {
				padding: 5px 15px;
				.vacCount {
					color: $countTextColor;
					font-size: 16px;
					font-weight: 300;
					text-align: right;
					width: 10%;
					float: left;
				}
				.vacName{
					width: 90%;
					float: right;
				}
				a {
					color: $bgcolor;
					font-size: 16px;
					padding: 5px 10px;
					font-weight: 700;
				}
				a:hover{
					background: $navbarLinkHover;
					border-radius: 5px;
				}
			}
		}
	}
}
// Yuxarıdan Aşagi açılan axtarış sistemi
#searchBtn {
	.container {
		padding: 5px;
		background: $navbarColor;
		cursor: pointer;
		text-align: center;

		#icon , span.searchBtn, i {
			display: inline-block;
			vertical-align: middle;
		}
		#icon {
			width: 20px;
			height: 15px;
			background-image: url(../images/sprite.svg);
			background-repeat: no-repeat;
			background-position: -42px -65px;
		}
		span.searchBtn {
			color: $bgcolor;
			border-bottom: 1px dashed $countTextColor;     
		}
		i {
			padding: 5px 0px;
			color: $bgcolor;
			transition: 3.0s;
		}
	}
	.container:hover{
		background: $categoriesBgColor;
	}
}
#search{
	.container{
		background: $navbarColor; 
		.col-md-4 {
			text-align: left;
			span{
				padding: 20px 10px 5px 10px;
				display: block;
				font-weight: 700;
			}
			.select {
				width: 300px;
				border: 1px solid $bgcolor;
				border-radius: 5px;
				padding: 10px;
				outline: none;
				margin-left: 10px;
			}
			select {
				display: block;
			}
		}
		.btnSearch {
			text-align: center;
			padding: 20px;
			input {
				background: $textColor;
				padding: 5px 25px;
				font-weight: 700;
				border-radius: 5px;
				box-shadow: 0 1px  1px 0px $bgcolor;
			}
		}
	}
}
// Last Vacansies

#lastVac {
	.container{
		padding-bottom: 10px;
		background: $contentBgColor;
		.headListLastVac{
			margin: 20px;
			margin-top: 40px;
			height: 30px;
			.leftHead{
				float:left;
				display: flex;
				align-items: center;
				h1{
					display: inline-block;
					font-size: 26px;
					font-weight: 700;
					margin: 0;
				}
				a {	
					display: inline-block;
					color: $contentLinkTextColor;
					font-size: 19px;
					padding: 0 15px;
					font-weight: 700;
				}
				a:hover {
					color: $categoriesBgColor;
				}
			}
			.rightHead {
				span {
					color: $contentLinkTextColor;
					font-size: 19px;
					font-weight: 700;
					a {
						color: $contentLinkTextColor;
						font-size: 19px;
						font-weight: 700;
					}
					a:hover {
					color: $categoriesBgColor;
					}
				}

			}
		}
		.listLastVac{
			border-radius: 5px;
			background: $textColor;
			margin: 20px;
			box-shadow: 0 2px 3px rgba(0,0,0,0.2);
			.row{
				padding: 0 15px;
				.col-md-4 {
					padding: 10px 30px 15px;
					border: 1px solid #e8e8e8;
					border-top-width: 0;
					border-left-width: 0;
					.nameVac {
						font-size: 16px;
						color: $mainTextColor;
						font-weight: 700;
						text-decoration: underline;
						display: block;
					}
					.nameVac:hover, .companyName:hover {
						color: $categoriesBgColor;
					}
					.companyName {
						font-size: 12px;
						color: $contentLinkTextColor;
						display: block;
					}
					span.cvName {
						font-size: 12px;
						color: $contentLinkTextColor;
						display: block;
					}
					.priceVac {
						display: inline-block;
						background: $navbarColor;
						margin: 5px 0;
						border-radius: 5px;
						padding: 5px 12px;
						span {
							color: #333;
							font-weight: 700;
						}
					}
				}
				.col-md-4:nth-child(3),.col-md-4:nth-child(6),.col-md-4:nth-child(9){
					border-right-width: 0;
				}
			}
		}
		.widgets {
			padding: 10px 20px;
			float: left;
		}
		.quote {
			float: left;
			position: relative;
			margin: 30px 0;
			margin-left: 10px;
			.quote-text{
				font-size: 30px;
				font-weight: 700;
				width: 420px;
				padding: 10px 0 0 55px;
			}
			.quote-by {
				font-size: 16px;
				font-style: italic;
				padding: 10px 0 0 55px;
			}
		}
		.quote:before{
			content: "";
			background-image: url(../images/sprite.svg);
			background-repeat: no-repeat;
			background-position: 0px 100%;
			width: 47px;
			height: 40px;
			position: absolute;
			left:0;
			top:0;
			position: absolute;
		}
		//tab categories companies
		.tabCategoriesCompanies {
			margin: 20px 0;
			.row {
				padding: 20px 35px;
				padding-bottom: 10px;
				ul#tabNav {
					li {
						float: left;
						a{
							padding: 15px 30px;
							font-size: 22px;
							font-weight: 700;
							color: #333;
						}
						a:hover {
							background: rgba(255,255,255, 0.8);
						}
						a.tab-aktiv{
							border: 1px solid #e8e8e8;
							border-bottom-width: 0;
							border-radius: 5px 5px 0 0;
							background: #fff;
							font-size: 22px;
							font-weight: 700;
							color: #333;
							text-decoration: none;

						}
					}
					li:last-child {
						margin-left: 10px;
					}
				}
			}
			#tab-categories {
				display: none;
				padding: 0 35px;
				.row {
					background: #fff;
					border: 1px solid #e8e8e8;
					border-radius: 5px 5px 0 0;
					.col-md-4 {
                      min-height: 300px;
						.catList {
							border-right: 2px solid #e8e8e8;
							li {
								margin-bottom: 5px;
								a {
									font-size: 15px;
									text-decoration: none;
									color: #555;
								}
								a:hover {
									color: #eab120;
								}

							}
							li:first-child {
								a {
									color: #eab120;
									font-weight: 700;
								}
								a:hover {
									color: #F57F17;
								}
							}
						}
						ul.last {
							border-right:none;
						}
					}
                   .col-md-4:nth-child(4),.col-md-4:nth-child(5),.col-md-4:nth-child(6){
                     min-height:150px;
                   }
                  .col-md-4:nth-child(7),.col-md-4:nth-child(8),.col-md-4:nth-child(9){
                    min-height:200px;
                  }
				}
			}
		}
		//tab categories companies
		#tab-companies {
			display: none;
			padding: 0 35px;
			.row {
				background: #fff;
				border: 1px solid #e8e8e8;
				border-radius: 5px 5px 0 0;
				.col-md-4 {
					padding: 5px;
					padding-left: 30px;
					border-right: 2px solid #e8e8e8;
					a {
						font-size: 15px;
						text-decoration: none;
						color: #555;
					}
					a:hover {
						color: #eab120;
					}
				}
				.last {
					border-right: none;
				}
			}
		}
	}
}


// all vacancies Page
#allVac {
	.container{
		background: #f4f4f4;
		.row{
			padding:  5px 10px;
			padding-bottom: 20px;
			.allVacHeader{
				h3{
					color: secondTextColor;
					font-weight: 700;
					font-size: 20px;
					padding-left: 15px;
				}
				span{
					color: $contentLinkTextColor;
					font-weight: 700;
					font-size: 26px;
					font-family: sans-serif;
				}

			}
		}

	.row{
		.col-md-6{
			padding-top: 0;
			padding-bottom: 20px;
			.card{
				padding: 0;
			}
			.cards{
				.card-block{
					border-radius: 5px;
					padding: 10px 20px;
					padding-bottom: 20px;
					background-color: $textColor;
					.cardHeader {
						h3{
							font-size: 20px;
							font-weight: 700;
							color:$footerLinkColor;
						}

						a{
							font-size: 15px;
							font-weight: 700;
							color: #666;
							text-decoration: none;
						}

						a:hover{
							color: #a98705;
						}
						.imqiymet{
							height: 50px;
							margin-top: 10px;

							.qiymet{
								width: 110px;
								height: 37px;
								background: #f8cb1c;
								border-radius: 6px;
								line-height: 37px;
								margin-top: -0.5px;
								color: #333;
								border: 1px solid #f8cb1c;
								text-align: center;
								float: left;
								position: relative;
								z-index: 1;
							}

							.qiymetLink{
								box-sizing: border-box;
								width: 90px;
								height: 36px;
								float: left;
								text-align: center;
								margin-left: -14px;
								border-radius: 6px;
								border: 1px solid #d8d8d8;
								border-left: none;
								position: relative;
								z-index: 0;
								line-height: 36px;
								display: flex;
								justify-content: center;
								align-items: center;

								a{
									text-decoration: underline;
									color: #555;
									font-size: 16px;
									margin-left: 14px;
									padding: 0 5px;
									font-weight: 400;
								}

								i{
									font-size: 26px;
									padding-right: 5px;
								}

							}

							.qiymetLink:hover{
								background: #f9f3d9;
							}
						}
					}

					
					.cardContent {
						p{
							font-size: 15px;
						}
					}

					.cardFooter{
						color: $contentLinkTextColor;

						span{
							font-weight: normal;
							color: $contentLinkTextColor;
							font-size: 14px;

						}
						i{
							color: #f8cb1c;
							font-size: 8px;
							margin: 0 8px;

						}

						a{
							
							color: $contentLinkTextColor;
							font-weight: normal;
							font-size: 14px;
							text-decoration: underline;
						}
						a:hover{
							color: #a98705;
						}
					}

				}

				.card-block:hover{
					box-shadow: 0 2px 30px rgba(0,0,0,0.2);
					cursor: pointer;
					transition: all 0.2s;
				}
			}
		}
		nav {
			padding: 0 15px;
			clear: both;
			display: flex;
			justify-content: center;
			ul{
				font-size: 15px;
				font-weight: 700;
				li.active{
					a, span{
						padding: 10px 16px;
						border: 1px solid $navbarColor;
						background: $navbarColor !important;
					}
				}
				li.disabled {
					a, span{
						padding: 10px 16px;
					}
				}
				li{
					span , a{

					}
					a{
						padding: 10px 16px;
						color: $mainTextColor;

					}
					a:hover{
						background: #f9f3d9;
					}
				}
				
			}
		}
	}
  }
}

// all vacancies page end

// single page
#singlePage{
	.container{
		.row{
			background: #f4f4f4;
			//border-top-right-radius: 6px;
			 .col-md-12{
						padding: 20px 40px;
						 
				.row{
					background-color: #fff;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;  
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
					.card-i-header{
							 
						 	padding: 15px 30px;
							.card-i-header-link{
							a{
								font-size: 18px;
								text-decoration: none;
								color: $secondTextColor;
							}
							a:hover{
								color: #a98705;
							}
						}

						.card-i-header-post{
							padding: 10px 15px;

							
							.div-i-header-post-title{
							float: left;
							h2{
								color: $footerLinkColor;
								margin: 0;
								padding-bottom: 10px;
							}

							span{
								
								border-radius: 3px;
								background-color: $navbarColor;
								padding: 7px 14px;
								font-size: 18px;
								color: $secondTextColor;
								font-weight: 700;
								margin-right: 10px;
							
							}
							span.cvName {
								background: none;
								font-size: 20px;
								font-weight: 400;
								padding-left: 0;
							}

							a{
								color: #3c3939;
								font-size: 15px;
								font-weight: normal;
							}
							a:hover{
								color: #a98705;
							}

							}

							.div-i-header-post-baxis{
								float: right;
							}
						}

					}

					.card-i-info{

						.info{
							.col-md-4 {
								ul {
									li{
										padding: 3px 0;
										font-weight: 700;
									}
								}
							}
							.col-md-6 {
								ul {
									li{
										padding: 3px 0;
									}
								}
							}
							.col-md-12 {
								
								padding: 0;
								padding-top: 10px;
								background-color: #fffae9;
								.col-md-6{
									span {
										display: block;
										a{
												font-size: 15px;
												color: $secondTextColor;
												text-decoration: none;				
												}

												a:hover{
													color: #a98705;
												}
									}
									span.email{
										a {
											text-decoration: underline;
										}
									}
								}

								.col-md-6{
									.col-md-3{
									font-size: 15px;
									font-weight: 700;
									color: $secondTextColor;
											
									}

								}
							}
						}
					}

					.card-i-content{

						
							 .col-md-12{

								padding:0;
								.col-md-6{

									 padding: 15px 30px;
											 h4{
													font-size: 15px;
													font-weight: 700;
													color: $secondTextColor;
												}
												  p{
														font-size: 15px;
														color: $secondTextColor;
													}
													
												
											}


										}
									}
									

								 .elanlar{
								 	border-bottom-right-radius: 20px;
								 	background-color: red;
									.col-md-12{
										border-top: 1px solid #e8e8e8;
										border-bottom: 2px solid #e8e8e8;

										padding-top:30px; 
										padding-bottom:30px;
										background-color: #fff;

										border-bottom-right-radius: 6px;
										border-bottom-left-radius: 6px;
										

										

										.col-md-12-elan{

											a{	
												
												border:1px solid #f8cb1c;
												padding:12px 7px;
												border-radius: 4px;
												text-decoration: none;
												margin-right: 30px;

												.fa-arrow-up{
													color: #f8cb1c;
													margin-right: 5px;
												}
												span{
													color: $bgcolor;
													font-weight: 700;
													text-decoration: underline;
												}

												.a-qiymet,.a-premium{
													
												   display: inline-block;
													position: absolute;
													left:152px;
													top: 10px;
													background-color:$navbarColor;
													padding:3px 9px;
													font-weight: 700;  
													border-radius: 4px;
													color: #333;
													font-size: 11px;
	
													
												}
											}

											a:hover{
												background-color: #f5efdc;
											}

											a:nth-child(2){
												span:nth-child(1){
													color: #f8cb1c;
													margin-right: 5px;
													text-decoration: none;
													font-size: 18px;
												}

												.a-premium{
													
													left:333px !important;
													top: 10px !important;
													
												}
											}
											
										}
									}
								  }
					.comments-container {
						border-radius: 0 0 5px 5px !important;
					}
					.comments-hide {
						background: blue;
						text-align: center;
						border-radius: 0 0 5px 5px;
						padding: 5px;
						a{
							color: $textColor;
						}
					}
				}
			}
		}
	}

}


// single page end

// Footer

#footer{
	.container{
		padding-bottom: 30px;
		background: $bgcolor;
		border-top: 3px solid $navbarColor;
		.row {
			padding: 20px;
			.col-md-4{
				.footNav {
					.footNavbar{
						.footNavbarItem{
							display: block;
							padding: 5px 0px;
							a{
								font-size: 16px;
								color: $footerLinkColor;
								text-decoration: none;
							}
							a:hover{
								text-decoration: underline;
							}
						}
						li.mobile{
							a{
								color: $footerTextColor;
							}
						}
					}
				}
				.footInfo{
					.info{
						li{
							padding: 5px 0;
							span {
								color: $footerTextColor;
								padding-left: 10px;
								font-size: 16px;
							}
							a{
								color: $footerTextColor;
								text-decoration: none;
								padding-left: 10px;
								font-size: 16px;
							}
							a:hover{
								text-decoration: underline;
							}
						}
						.footCopy:before{
							content: "";
							width: 13px;
							height: 13px;
							display: inline-block;
							background-image: url(../images/sprite.svg);
							background-repeat: no-repeat;
							background-position: 96.8944099378882% 52.17391304347826%;
							vertical-align: middle;
						}
						.footPhone:before{
							content: "";
							width: 14px;
							height: 16px;
							display: inline-block;
							background-image: url(../images/sprite.svg);
							background-repeat: no-repeat;
							background-position: 88.75% 53.93258426966292%;
							vertical-align: middle;
						}
						.footEmail:before{
							content: "";
							width: 14px;
							height: 10px;
							display: inline-block;
							background-image: url(../images/sprite.svg);
							background-repeat: no-repeat;
							background-position: 86.25% 40%;
							vertical-align: middle;
						}
					}
				}
				.copyright {
					padding-top: 15px;
					span{
						color: $footerTextColor;
						font-size: 13px;
					}
				}
				a.title{
					color: $footerLinkColor;
					font-size: 18px;
					font-weight: 700;
					text-decoration: none;
					display: block;
					padding-bottom: 5px;
				}
				a.title:hover{
					//text-decoration: underline;
				}
				.footCatList{
					.cat{
						display: block;
						padding: 5px 0;
						a {
							font-size: 16px;
							color: $footerTextColor;
							text-decoration: none;
						}
						a:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
// Elan və CV əlavə etmə səhifəsi
#addVac {
	.container{
		background: $contentBgColor;
		.row {
			padding: 10px 0;
			.col-md-7{
				.row {
					h1{
						font-size: 24px;
						font-weight: 700;
					}
					button {
						float: right;
						margin-top: 10px;
						font-size: 15px;
						text-decoration: underline;
						color: $bgcolor;
						background: $categoriesBgColor;
						border: 0;
						padding: 10px 20px;
						border-radius: 5px;
						cursor:pointer;
						outline: none;
						a {
							color: $bgcolor;
						}
					}
				}
			}
			// inputlar
			.vacForm {
				.row {
					padding: 10px 15px;
					.col-md-12 {
						background: #fff;
						border-radius: 5px;
						p.text-danger {
							font-size: 12px;
						}
						.row{
							.col-md-8 {
								h4 {
									font-size: 24px;
									font-weight: 700;
									color: #eab121;
								}
							}
						}
						.phoneForm {
							.col-md-8 {
								a {
									color: $mainTextColor;
									border-bottom: 1px dashed $mainTextColor;
									text-decoration: none;
									cursor: pointer;
								}
								input {
									border-bottom-width: 0;
									border-radius: 0;
									outline: none;
									
								}
								input:last-child{
									border-radius: 0 0 5px 5px;
									border-bottom: 1px solid #ccc;
								}
								.phoneNum {
									border-radius: 5px 5px 0 0 !important;
								}
							}
							.col-md-4 {
								.row {
									padding: 0;
									margin-top: 30px;
									font-size: 12.6px;
									font-style: italic;
								}
							}
						}
					}
				}
				// Button submit
				.rowBtn{
					text-align: center;
						.col-md-12 {
							padding: 10px 0;
							padding-bottom: 20px;
							button {
							font-size: 15px;
							color: $mainTextColor;
							font-weight: 700;
							background: #fff;
							text-align: center;
							padding: 10px 25px;
							cursor:pointer;
							outline: none;
							border: 0;
							border-radius: 5px;
						}
					}
				}
				.addBtn {
					text-align: center;
						.col-md-12 {
							padding: 10px 0;
							padding-bottom: 20px;
							button {
							font-size: 15px;
							color: $bgcolor;
							font-weight: 700;
							background: $navbarColor;
							text-align: center;
							padding: 5px 25px;
							cursor:pointer;
							outline: none;
							border: 0;
							border-radius: 5px;
						}
					}
				}
				// ikinci form
				.row {
					.col-md-12 {
						.row {
							.col-md-12 {

								h4 {
									font-size: 24px;
									font-weight: 700;
									color: #eab121;
									padding-bottom: 10px;
								}
								.maasForm, .yasForm {
									padding-left: 5px;
									padding-right: 20px;
									label {
										padding-top: 5px;
									}
									* {
										padding: 0 5px;
									}
								}
								.eduForm {
									.col-md-7 {
										padding-left: 0;
									}
									.col-md-5 {
										padding-right: 0;
									}
								}
								textarea {
									resize: none;
								}
							}
						}
					}
				}
			}
			//inputlar end
			.rules {
				.headerRow {
					padding: 5px 20px;
					.col-md-12 {
						h1 {
							font-size: 24px;
							font-weight: 700;
							font-color: $mainTextColor;
						}
					}
				}
				.rulesRow {
					padding: 15px 0;
					ol {
						li {
							font-size: 16px;
							padding: 5px 0px;
							ul {
								padding: 0 15px;
								li {
									padding: 5px 0;
									font-size: 16px;
									list-style-type: circle;
								}
							}
						}
					}
				}
			}
		}
		
	}
}

// About Page 

#about {
	.container{
		background: #f4f4f4;
		.row {
			padding-top: 10px;
			.col-md-12{
				padding-top:20px;
				ul{
					li{
						float: left;
						a{
							border-radius: 5px 5px 0 0;
							padding: 10px 20px;
							font-size: 20px;
							font-weight: 700;
							display: block;
							color: #000;
							position: relative;
							z-index: 999;
							top: 1px;
						}
						a.tactive{
							border:1px solid #e8e8e8;
							border-bottom-width: 0;
							background: #fff;
							text-decoration: none;
						}
						a:hover {
							background:#fff;
						}
					}

				}
				.tabReklam {
					margin-left: 10px;
				}
			}
		}
	}
}
// About Page Tab
#aboutP, #aboutA {
	.bgCol{
		background: #f4f4f4;
		.borderCol{
			border-radius: 5px;
			margin-bottom: 20px;
			background: #fff;
			border:1px solid #e8e8e8;
			.container{
				padding: 30px 0;
				width: 75%;
				background: #fff;
				h1{
					margin: 0;
					font-size: 40px;
					font-weight: 700;
					color: #eab121;
				}
				.contentTab{
					padding-top: 20px;
					font-size: 16px;

					a{
						color: #daaf07;
					}
					span.green{
						color:#739e5b;
					}
					span.red {
						color:#db7443;
					}
					.green{
						color:#739e5b;
					}
				}
			}
		}
	}
}

// error 404 page

#error {
	.container{
		h2{
			a{
				margin: 10px 0;
				font-size: 24px;
				color: #C63229;
				font-weight: 700;
			}
		}
		h1{
			margin: 20px 0;
			font-size: 30px;
			color: #636363;
			font-weight: 700;
		}
		.error {
			p {
				font-size: 14px;
			}
		}
	}
}